$color-primary: #105652;
$color-secondary: #b91646;
$color-heading: #535353;
$color-border: rgba(#005bff, 0.1);
$background-color: #f7f7f7;
$color-danger: #ff3152;
$shadow-primary: 0 22px 40px rgba(#005bff, 0.12);
$color-success: #00ff99;
$color-black: black;
$container-radius: 10px;

@import './utilities/mixins';
@import './utilities/partials';
